@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
.background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 5160px;
        background: black;
        z-index: 1;
}
.header span{
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 85;
}
.header h2{
    position: fixed;
    text-align: center;
    color: black;
    font-size: 30px;
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 90;
}
.header h1{
    position: absolute;
    top: 43%;
    left: 60%;
    font-size: 70px;
    font-family: 'Cinzel', serif;
    color: white;
    z-index: 70;
}
.image1{
    position: absolute;
    top: 27%;
    left: 20%;
    z-index: 80;
}
.about h1{
    position: absolute;
    top: 880px;
    left: 30%;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.about ul{
    position: absolute;
    top: 1030px;
    left: 38%;
    font-size: 50px;
    margin: 100px;
    line-height: 100px;
    z-index: 80;
    color: white;
}
a {
    color: white;
    }
h1.prof{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.prog{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.illust{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.maya{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
.profile h1{
    position: absolute;
    top: 1650px;
    left: 300px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.profile h2{
    position: absolute;
    top: 1850px;
    left: 300px;
    font-size: 40px;
    line-height: 70px;
    z-index: 80;
    color: white;
}
.image2{
    position: absolute;
    top: 1850px;
    left: 55%;
    z-index: 80;
}
.Programing h1{
    position: absolute;
    top: 2470px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.Programing p{
    position: absolute;
    top: 2700px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;

}
.image3{
    position: absolute;
    top: 2530px;
    left: 50%;
    z-index: 80;
}
.image4{
    position: absolute;
    top: 2730px;
    left: 70%;
    z-index: 70;
}
.Programing span{
    position: absolute;
    top: 2530px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;

}
.Illustrator h1{
    position: absolute;
    top: 3290px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.Illustrator p{
    position: absolute;
    top: 3520px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;
}
.image5{
    position: absolute;
    top: 3350px;
    left: 50%;
    z-index: 80;
}
.image6{
    position: absolute;
    top: 3550px;
    left: 70%;
    z-index: 70;
}
.Illustrator span{
    position: absolute;
    top: 3350px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;

}
.Maya h1{
    position: absolute;
    top: 4110px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.Maya p{
    position: absolute;
    top: 4340px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;
}
.Maya span{
    position: absolute;
    top: 4170px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;
}
.ending h1{
    position: absolute;
    top: 5475px;
    left: 17.3%;
    color: black;
    font-size: 70px;
    z-index: 70;
    font-family: 'Cinzel', serif;
}
.ending span{
    position: absolute;
    top: 5160px;
    left: 0px;
    height: 820px;
    width: 100%;
    background: white;
    z-index: 1;
}
@media only screen and (max-width: 768px) {
    .background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 5160px;
        background: black;
}
.header span{
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}
.header h2{
    justify-content: center;
    position: fixed;
}
    .header h1{
        position: absolute;
        top: 200px;
        left:48px;
        font-size: 70px;
        font-family: 'Cinzel', serif;
        color: white;
        z-index: 70;
    }
.image1{
    position: absolute;
    top: 600px;
    left: 45px;
    height: 280px;
    width: 280px;
}
.about h1{
    position: absolute;
    top: 1050px;
    left: 26px;
    font-size: 35px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.about ul{
    position: absolute;
    top: 1100px;
    left: 7px;
    font-size: 30px;
    margin: 100px;
    line-height: 100px;
    z-index: 80;
    color: white;
}
.profile h1{
    position: absolute;
    top: 1600px;
    left: 45px;
    font-size: 65px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.profile h2{
    position: absolute;
    top: 2200px;
    left: 40px;
    font-size: 30px;
    line-height: 70px;
    z-index: 80;
    color: white;
}
.image2{
    position: absolute;
    top: 1800px;
    left: 45px;
    height: 280px;
    width: 280px;
    z-index: 80;
}
.Programing h1{
    position: absolute;
    top: 2700px;
    left: 30px;
    font-size: 45px;
}
.Programing p{
    position: absolute;
    top: 2750px;
    left: 40px;
    font-size: 20px;
}
.image3{
    position: absolute;
    top: 3000px;
    left: 20px;
}
.image4{
    position: absolute;
    top: 3260px;
    left: 20px;
}
.Programing span{
    position: absolute;
    top: 3000px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.Illustrator h1{
    position: absolute;
    top: 3700px;
    left: 30px;
    font-size: 45px;
}
.Illustrator p{
    position: absolute;
    top: 3750px;
    left: 40px;
    font-size: 20px;
}
.image5{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 4000px;
    left: 20px;
}
.image6{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 4260px;
    left: 20px;
}
.Illustrator span{
    position: absolute;
    top: 4000px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.Maya h1{
    position: absolute;
    top: 4600px;
    left: 30px;
    font-size: 45px;
}
.Maya p{
    position: absolute;
    top: 4650px;
    left: 40px;
    font-size: 20px;
}
.Maya span{
    position: absolute;
    top: 4900px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.ending h1{
    position: absolute;
    top: 5650px;
    font-size: 20px;
    left: 10px;
}
.ending span{
    position: absolute;
    top: 5600px;
    left: 0px;
    height: 300px;
    width: 100%;
}
}