@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
.background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 5160px;
        background: black;
        z-index: 1;
}
.header span{
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 85;
}
.header h2{
    position: fixed;
    text-align: center;
    color: black;
    font-size: 30px;
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 90;
}
.header a{
    position: fixed;
    top: 35px;
    left: 70%;
    color: black;
    font-size: 20px;
    z-index: 90;
}
.header h1{
    position: absolute;
    top: 43%;
    left: 60%;
    font-size: 70px;
    font-family: 'Cinzel', serif;
    color: white;
    z-index: 70;
}
.image1{
    position: absolute;
    top: 27%;
    left: 20%;
    z-index: 80;
}
.about h1{
    position: absolute;
    top: 880px;
    left: 30%;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.about ul{
    position: absolute;
    top: 1030px;
    left: 38%;
    font-size: 50px;
    margin: 100px;
    line-height: 100px;
    z-index: 80;
    color: white;
}
a {
    color: white;
    }
h1.prof{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.img{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.illust{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.Prog{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
h1.mokuzi{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}
.profile h1{
    position: absolute;
    top: 1650px;
    left: 300px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.profile h2{
    position: absolute;
    top: 1850px;
    left: 300px;
    font-size: 40px;
    line-height: 70px;
    z-index: 80;
    color: white;
}
.image2{
    position: absolute;
    top: 1850px;
    left: 55%;
    z-index: 80;
}
.imageprocessing h1{
    position: absolute;
    top: 2470px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.imageprocessing p{
    position: absolute;
    top: 2700px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;

}
.image3{
    position: absolute;
    top: 2540px;
    left: 50%;
    z-index: 80;
}
.image4{
    position: absolute;
    top: 2740px;
    left: 70%;
    z-index: 70;
}
.imageprocessing span{
    position: absolute;
    top: 2540px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;

}
.Illustrator h1{
    position: absolute;
    top: 3290px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.Illustrator p{
    position: absolute;
    top: 3520px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;
}
.image5{
    position: absolute;
    top: 3360px;
    left: 50%;
    z-index: 80;
}
.image6{
    position: absolute;
    top: 3560px;
    left: 70%;
    z-index: 70;
}
.Illustrator span{
    position: absolute;
    top: 3360px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;

}
.Programing h1{
    position: absolute;
    top: 4110px;
    left: 250px;
    font-size: 60px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.Programing p{
    position: absolute;
    top: 4340px;
    left: 250px;
    font-size: 25px;
    line-height: 40px;
    z-index: 80;
    color: white;
}
.image7{
position: absolute;
top: 4180px;
left: 50%;
z-index: 80;
}
.image8{
    position: absolute;
    top: 4380px;
    left: 70%;
    z-index: 80;
}
.Programing span{
    position: absolute;
    top: 4180px;
    left: 50%;
    height: 450px;
    width: 635px;
    background: gainsboro;
    z-index: 10;
}
.ending h1{
    position: absolute;
    top: 5475px;
    left: 17.3%;
    color: black;
    font-size: 70px;
    z-index: 70;
    font-family: 'Cinzel', serif;
}
.ending span{
    position: absolute;
    top: 5160px;
    left: 0px;
    height: 820px;
    width: 100%;
    background: white;
    z-index: 1;
}
@media only screen and (max-width: 768px) {
    .background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 5160px;
        background: black;
}
.header span{
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}
.header h2{
    justify-content: center;
    position: fixed;
}
    .header h1{
        position: absolute;
        top: 150px;
        left:48px;
        font-size: 70px;
        font-family: 'Cinzel', serif;
        color: white;
        z-index: 70;
    }
    .header a{
        position: fixed;
        top: 40px;
        left: 75%;
        color: black;
        font-size: 15px;
        z-index: 90;
    }
.image1{
    position: absolute;
    top: 450px;
    left: 43px;
    height: 280px;
    width: 280px;
}
.about h1{
    position: absolute;
    top: 1050px;
    left: 22px;
    font-size: 35px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.about ul{
    position: absolute;
    top: 1150px;
    left: 7px;
    font-size: 30px;
    margin: 100px;
    line-height: 100px;
    z-index: 80;
    color: white;
}
.profile h1{
    position: absolute;
    top: 1850px;
    left: 58px;
    font-size: 65px;
    font-family: 'Cinzel', serif;
    z-index: 80;
    color: white;
}
.profile h2{
    position: absolute;
    top: 2300px;
    left: 42px;
    font-size: 30px;
    line-height: 70px;
    z-index: 80;
    color: white;
}
.image2{
    position: absolute;
    top: 2000px;
    left: 45px;
    height: 280px;
    width: 280px;
    z-index: 80;
}
.imageprocessing h1{
    position: absolute;
    top: 3000px;
    left: 30px;
    font-size: 35px;
}
.imageprocessing p{
    position: absolute;
    top: 3050px;
    left: 52px;
    font-size: 20px;
}
.image3{
    position: absolute;
    top: 3300px;
    left: 20px;
}
.image4{
    position: absolute;
    top: 3560px;
    left: 20px;
}
.imageprocessing span{
    position: absolute;
    top: 3300px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.Illustrator h1{
    position: absolute;
    top: 3900px;
    left: 43px;
    font-size: 45px;
}
.Illustrator p{
    position: absolute;
    top: 3950px;
    left: 53px;
    font-size: 20px;
}
.image5{
    position: absolute;
    height: 250px;
    width: 350px;
    top: 4200px;
    left: 20px;
}
.image6{
    position: absolute;
    height: 250px;
    width: 350px;
    top: 4460px;
    left: 20px;
}
.Illustrator span{
    position: absolute;
    top: 4200px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.Programing h1{
    position: absolute;
    top: 4800px;
    left: 36px;
    font-size: 45px;
}
.Programing p{
    position: absolute;
    top: 4850px;
    left: 45px;
    font-size: 20px;
}
.image7{
    position: absolute;
    height: 250px;
    width: 350px;
    top: 5100px;
    left: 20px;
    }
.image8{
    position: absolute;
    height: 250px;
    width: 350px;
    top: 5360px;
    left: 20px;
    }
.Programing span{
    position: absolute;
    top: 5100px;
    left: 0px;
    height: 510px;
    width: 100%;
}
.ending h1{
    position: absolute;
    top: 5850px;
    font-size: 20px;
    left: 58px;
}
.ending span{
    position: absolute;
    top: 5800px;
    left: 0px;
    height: 300px;
    width: 100%;
}
}